body{
    background: #121012;
}
.timeline{
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
}
.container{
    padding: 10px 50px;
    position: relative;
    width: 60%;
    animation: movedown 1s linear forwards;
    opacity: 0;
}
@keyframes movedown {
    0%{
        opacity: 1;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

.container:nth-child(1){
    animation-delay: 0s;
}
.container:nth-child(2){
    animation-delay: 1s;
}
.container:nth-child(3){
    animation-delay: 2s;
}
.container:nth-child(4){
    animation-delay: 3s;
}
.container:nth-child(5){
    animation-delay: 4s;
}
.container:nth-child(6){
    animation-delay: 5s;
}

.text-box{
    padding: 20px 30px;
    background: #1e1b1e;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
}
.left-container{
    left: -30%;
}
.right-container{
    left: 30%;
}
.container img{
    width: 40px;
    right: -20px;
    top: 32px;
    z-index: 10;
}

.right-container img{
    left: -20px;
}
.timeline::after{
    content: '';
    position: absolute;
    width: 3px;
    height: 100%;
    background: #fff;
    top: 0;
    left: 50%;
    margin-left: -1px;
    z-index: -1;
    animation: movelines 6s linear forwards;
}
@keyframes movelines{
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
}
.text-box h2{
    font-weight: 600;
}
.text-box small{
    display: inline-block;
    margin-bottom: 15px;
}
.left-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #1e1b1e;
    right: -15px;
}
.right-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #1e1b1e;
    left: -15px;
}

@media screen and (max-width: 475px) {

    .timeline{
        margin: 50px auto;
    }
    .timeline::after{
        left: 31px;
    }
    .container{
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }
    .text-box{
        font-size: 13px;
    }
    .text-box small{
        margin-bottom: 10px;
    }
    .right-container{
        left: 0;
    }
    .left-container{
        left: 0px;
    }
    .left-container img{
        left: 10px;
    }
    .right-container img{
        left: 10px;
    }
    .left-container-arrow, .right-container-arrow{
        border-right: 15px solid rgba(255, 255, 255, 0.1);
        border-left: 0;
        left: -15px;
    }
}



@media screen and (max-width: 600px) {

    .timeline{
        margin: 50px auto;
    }
    .timeline::after{
        left: 31px;
    }
    .container{
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }
    .text-box{
        font-size: 13px;
    }
    .text-box small{
        margin-bottom: 10px;
    }
    .right-container{
        left: 0;
    }
    .left-container{
        left: 0px;
    }
    .left-container img{
        left: 10px;
    }
    .right-container img{
        left: 10px;
    }
    .left-container-arrow, .right-container-arrow{
        border-right: 15px solid rgba(255, 255, 255, 0.1);
        border-left: 0;
        left: -15px;
    }
}

@media screen and (max-width: 767px) {

    .timeline{
        margin: 50px auto;
    }
    .timeline::after{
        left: 31px;
    }
    .container{
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }
    .text-box{
        font-size: 13px;
    }
    .text-box small{
        margin-bottom: 10px;
    }
    .right-container{
        left: 0;
    }
    .left-container{
        left: 0px;
    }
    .left-container img{
        left: 10px;
    }
    .right-container img{
        left: 10px;
    }
    .left-container-arrow, .right-container-arrow{
        border-right: 15px solid rgba(255, 255, 255, 0.1);
        border-left: 0;
        left: -15px;
    }
}


@media screen and (max-width: 1024px) {

    .timeline{
        margin: 50px auto;
    }
    .timeline::after{
        left: 31px;
    }
    .container{
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }
    .text-box{
        font-size: 13px;
    }
    .text-box small{
        margin-bottom: 10px;
    }
    .right-container{
        left: 0;
    }
    .left-container{
        left: 0px;
    }
    .left-container img{
        left: 10px;
    }
    .right-container img{
        left: 10px;
    }
    .left-container-arrow, .right-container-arrow{
        border-right: 15px solid rgba(255, 255, 255, 0.1);
        border-left: 0;
        left: -15px;
    }
}

@media screen and (max-width: 1280px) {

    .timeline{
        margin: 50px auto;
    }
    .timeline::after{
        left: 31px;
    }
    .container{
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }
    .text-box{
        font-size: 13px;
    }
    .text-box small{
        margin-bottom: 10px;
    }
    .right-container{
        left: 0;
    }
    .left-container{
        left: 0px;
    }
    .left-container img{
        left: 10px;
    }
    .right-container img{
        left: 10px;
    }
    .left-container-arrow, .right-container-arrow{
        border-right: 15px solid rgba(255, 255, 255, 0.1);
        border-left: 0;
        left: -15px;
    }
}

.front-container {
    width: 100%;
    padding: 20px;
    background: #1e1b1e;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
    height: 24rem;
    margin: 0 auto;
    margin-bottom: 5px;
    background-size: 35%; /* Set the background size to 40% width and auto height */
    background-repeat: no-repeat; /* Prevent background image from repeating */
    background-position: bottom right; /* Display the background image at the top left corner */
    transition: background 0.3s ease;
}

.front-container h2 {
    margin-top: 10px;
    font-size: 26px;
    font-weight: 500;
    margin-left: 15px; 
}

.front-container h6 {
    margin-left: 15px;
    margin-top: -0.75rem; 
}

.ftco-skills .container .front-container .skill-box {
    margin: .75rem 0 1.25rem;
    width: 80%; /* Set a custom width for skill-box */
    max-width: 600px; /* Optionally set a max-width */
    height: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 0rem;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}


.ftco-skills .container .front-container .skill-box .skill .icon{
    height: 3rem;
    width: 3rem;
    background-color: #1e1b1e;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

.ftco-skills .container .front-container .skill-box .skill .text{
    height: 3rem;
    width: auto;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 1rem;
}
.ftco-skills .container .front-container .skill-box .skill .text span {
    font-size: 0.7rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}


.work-container {
    display: flex;
    gap: 10px;
  }
  
  .card {
    height: 25rem;
    width: 10rem;
    flex: 1;
    border-radius: 16px;
    transition: all 0.3s ease;
    position: relative; 
    overflow: hidden;
    background-color: rgba(128, 128, 128, 0.9); 
  }
  
  .expanded {
    flex: 2;
    width: 25rem;
  }
  
  .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px; 
    position: absolute; 
    top: 0; 
    left: 0; 
    z-index: 1; 
  }
  
  .card__content {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    height: 55%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 16px;
    background-color: rgba(124, 119, 119, 0.75); 
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    display: none; 
  }  
  
  .expanded .card__content {
    display: flex; 
    flex-direction: column; 
    justify-content: flex-end; 
    z-index: 2; 
  }
  
  .card.expanded {
    overflow: visible; /
  }
  
  .card__title {
    margin: 0;
    font-size: 30px;
    color: #fff;
    font-weight: 700;
  }
  
  .card__button {
    padding: 15px;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.65);
    border: none;
    color: #fff;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 900;
    width: fit-content;
    height: 50px;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-decoration: none; /* Remove underline from links */
  }
  .card__button svg {
    margin-right: 10px; /* Adjust the value as needed */
}
  
  .card__button:hover {
    padding: 15px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.4);
    border: none;
    color: #000;
    margin-top: 10px;
  }
  .card__button a {
    color: #fff; /* Change color of link when button is hovered */
  }
  
  .card__button:hover a {
    color: #000; /* Change color of link when button is hovered */
  }
  
  .secondary {
    background: rgba(0, 0, 0, 0.65);
    color: #fff;
  }
  
  

  *{padding:0;margin:0;}
  
  .float{
      position:fixed;
      width: 50px;
      height: 50px;
      bottom:40px;
      right:40px;
      background-color:#000;
      color:#FFF;
      border-radius:50px;
      text-align:center;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
      transition-duration: .3s;
      overflow: hidden;
      cursor: pointer;
      border: none;
      justify-content: flex-start;
      align-items: center;
      display: flex;
  }
  
  .my-float{
      margin-top:22px;
  }

/* plus sign */
.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: white;
}
/* text */
.text-float {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  transition-duration: .3s;
}
/* hover effect on button width */
.float:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: .3s;
}

.float:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 20px;
}
/* hover effect button's text */
.float:hover .text-float {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;
}
/* button click effect*/
.float:active {
  transform: translate(2px ,2px);
}

@media screen and (max-width: 992px) {
  .work-container {
    display: block;
    gap: 10px;
  }
  
  .card {
    height: 5rem;
    width: 45rem;
    flex: 1;
    border-radius: 16px;
    transition: all 0.3s ease;
    position: relative; 
    overflow: hidden;
    background-color: rgba(128, 128, 128, 0.9); 
  }
  
  .expanded {
    flex: 2;
    height: 25rem;
  }
  
  .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px; 
    position: absolute; 
    top: 0; 
    left: 0; 
    z-index: 1; 
  }
  
  .card__content {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    height: 55%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 16px;
    background-color: rgba(124, 119, 119, 0.75); 
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    display: none; 
  }  
  
  .expanded .card__content {
    display: block; 
    flex-direction: column; 
    justify-content: flex-end; 
    z-index: 2; 
  }
  
  .card.expanded {
    overflow: visible; /
  }
  
  .card__title {
    margin: 0;
    font-size: 30px;
    color: #fff;
    font-weight: 700;
  }
  
  .card__button {
    padding: 15px;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.65);
    border: none;
    color: #fff;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 900;
    width: fit-content;
    height: 50px;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-decoration: none; /* Remove underline from links */
  }
  .card__button svg {
    margin-right: 10px; /* Adjust the value as needed */
}
  
  .card__button:hover {
    padding: 15px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.4);
    border: none;
    color: #000;
    margin-top: 10px;
  }
  .card__button a {
    color: #fff; /* Change color of link when button is hovered */
  }
  
  .card__button:hover a {
    color: #000; /* Change color of link when button is hovered */
  }
  
  .secondary {
    background: rgba(0, 0, 0, 0.65);
    color: #fff;
  }
}

